<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="test" value="test"/>
		
		<add key="SqlConnection" value=""/>
		<add key="Version" value="1.0.0.1"/>
		<add key="Url" value="\\192.168.100.252"/>
	</appSettings>
	<connectionStrings>
		<add name="MyDb" connectionString="Data Source=127.0.0.1;Initial Catalog=TestDb;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
		<add name="SqlServer" connectionString="Server=localhost;Database=winformdevframework;User Id = sa; Password=sa;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>